{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ include('book_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_book_c_r_u_d_index') }}">back to list</a>

    {{ include('book_crud/_delete_form.html.twig') }}
{% endblock %}
