{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <h1>Create new Author</h1>

    {{ include('author_crud/_form.html.twig') }}

    <a href="{{ path('app_author_c_r_u_d_index') }}">back to list</a>
{% endblock %}
